.text-green{
    color:#5fa760 !important;
}
.text-blue{
    color:#06347d !important;
}
.backgroud-dark{
    background: #06347d;
}
.font-color-white{
    color: white !important;
}
.nav-title:hover{
    font-weight: bold !important;
}
.nav-title{
    transition: all .1s 0.1s;
}